<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>Chatbot</title>
  </head>
  <body>
    <div
      style="display: flex; flex-direction: column; justify-content: stretch"
    >
      <div id="chatbox"></div>
      <div>
        <form
          action="/"
          method="post"
          onsubmit="submitText(event)"
          style="display: flex; flex-direction: row; justify-content: flex-end"
        >
          <input type="text" name="sentence" id="textbox" />
          <button type="submit">Sent</button>
        </form>
      </div>
    </div>
  </body>
  <script>
    function submitText(event) {
      event.preventDefault();
      var form = event.target;
      var text = $("#textbox").val();
      $("#chatbox").append(`<p style="text-align: right;">${text}</p>`);
      $.ajax({
        method: $(form).attr("method"),
        url: $(form).attr("action"),
        data: $(form).serialize(),
        timeout: 60000,
        success: function (result) {
          console.log(result);
          $("#chatbox").append(`<p style="text-align: left;">${result}</p>`);
        },
        error: function (e) {
          console.log(e);
        },
      });

      return false;
    }
  </script>
</html>
